# Git LFS 跟踪大文件
*.pt filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.engine filter=lfs diff=lfs merge=lfs -text
*.trt filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text

# 针对具体的大文件
weights/*.pt filter=lfs diff=lfs merge=lfs -text
weights/*.dat filter=lfs diff=lfs merge=lfs -text